* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 14px;
}

header {
	width: 100%;
}

nav {
	background-color: #242424;
	height: 50px;
	width: 100%;
	text-align: center;
	position: fixed; /*para que el menú se quede estático cuando bajamos*/
}

nav ul {
	list-style: none;
	display: inline-block; /*para que estén en línea*/
	padding: 15px;
}

nav ul li {
	float: left;
	font-family: Calibri, Arial;
	font-size: 20 px;
}

nav ul li a:hover {
	background-color: #4b4b4b;
}

#menu {
	margin: 15px 15px;
	padding: 15px;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
}

body {
	background-color: #121212;
}

p {
	color: #fff;
}

h1 {
	color: #fff;
	font-size: 20px;
	margin-bottom: 20px;
}

main {
	text-align: center;
}

